@model OnlineLibrary.Models.Document

<form method="post">
    <input hidden asp-for="Id" />
    <div class="container backgroundWhite mt-3">
        <div class="card">
            <div class="card-header">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-8 col-lg-8">

                            <div class="row pl-2">
                                <h5 class="text-muted">@Html.DisplayFor(model => model.Title)</h5>
                            </div>
                            <div class="row pl-2">
                                <p class="text-secondary mt-2">Description: @Html.DisplayFor(model => model.Desription)</p>
                            </div>
                            <div class="row pl-2">
                                <p class="text-secondary">Author: @Html.DisplayFor(model => model.Author.Name)</p>
                            </div>
                            <div class="row pl-2">
                                <p class="text-secondary">Category: @Html.DisplayFor(model => model.Category.Name)</p>
                            </div>
                            <div class="row pl-2">
                                <p class="text-secondary">ISBN: @Html.DisplayFor(model => model.ISBN)</p>
                            </div>
                            <div class="row pl-2">
                                <p class="text-secondary">Price: @Html.DisplayFor(model => model.Price)</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 offset-lg-1 text-center">
                            <img src="@Html.DisplayFor(model => model.ImageUrl)" width="100%" class="rounded" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <ul class="">
                    <h2>Chapter:</h2>
                    @foreach (var chapter in Model.Chapter)
                    {
                        <li class="row p-2">
                            @chapter.Content
                        </li>
                    }
                </ul>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 col-md-6 pb-1">
                        <a class="btn btn-success form-control">Back to List</a>
                    </div>
                    <div class="col-12 col-md-6 pb-1">

                        <button type="submit" class="btn btn-info  form-control">Request to read</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>